h4 {
  margin: 7px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

div {
  color: white;
}

.btn {
  height: 32px;
  background-color: #3e6773;
  border-radius: 6px;
  border: 1px solid #282c34;
}

.btn_label {
  color: white;
  margin-bottom: 5px;
}
.options-main {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.options-display {
  display: flex;
  margin: 20px 0;
}

.options-display-left {
  margin-right: 40px;
}

.options-display-right {
  display: flex;
  flex-direction: column;
}

.options-form {
  display: flex;
  flex-direction: column;
}

.options-form-answers {
  display: flex;
  flex-direction: column;
}

.options-input {
  height: 24px;
  box-sizing: border-box;
  padding-left: 5px;
  margin: 0 10px 10px 0;
}

.options-radio {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.options-radio input {
  margin: 0 5px 0 0;
}

.first-team {
  /* margin-bottom: 5px; */
}

.time-limit {
  margin-bottom: 15px;
}

.team-names {
  display: flex;
  flex-direction: column;
}

.round-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: teal;
  padding: 15px 0;
  border-radius: 6px;
}

.round-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.round-screen-scores {
  width: 65vw;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.round-screen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 120px;
}

.answers-bank {
  margin: 6px 0;
}

.answers-bank-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 75vw;
}

.answers-bank-word {
  margin: 6px 0;
}

.play-main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}